TourML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p/xs3p.xsl"?>
<xsd:schema targetNamespace="http://www.imamuseum.org/TourML/2011/11"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tourml="http://www.imamuseum.org/TourML/2011/11"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/03/xml.xsd" />

	<!-- Element declarations -->
	<xsd:element name="Tour" type="tourml:TourType">
		<xsd:annotation>
			<xsd:documentation>The Tour element is used to describe all content
				related to a museum tour. Either Tour or TourSet must appear as the
				top-level element of a TourML instance.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="TourSet">
		<xsd:annotation>
			<xsd:documentation>A TourSet element may be used as the top-level
				element of a TourML instance in order to represent one or more
				tours. The complete content of the tours can be placed under this
				element or a set of TourMLRef elements, which can be used to refer to
				other TourML instances by URI.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tourml:Tour" minOccurs="1" maxOccurs="unbounded" />
				<xsd:element name="TourMLRef" type="tourml:TourMLRefType"
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:choice>
			<xsd:attribute ref="tourml:lastModified" use="optional" />
		</xsd:complexType>
	</xsd:element>

	<!-- Type declarations -->
	<xsd:complexType name="TourType">
		<xsd:sequence>
			<xsd:element name="TourMetadata" type="tourml:TourMetadataType" minOccurs="0" />
			<xsd:element name="Asset" type="tourml:AssetType"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A general asset for a tour. This element is used
						to refer to media assets that occur in a tour. All instances of
						this element inherit from the abstract AssetType. At least one
						asset must be specified for all tours. Asset is the only required
						type of Assets, Stops and Connections, therefore the most basic
						TourML instance could only contain a list of assets that appear in
						a tour.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Stop" type="tourml:StopType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A collection of assets experienced together
						compose a Stop in TourML. Stops represent the nodes of the tour
						graph. Users can arrive at stops through navigational methods
						and/or connections with other stops.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Connection" type="tourml:ConnectionType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A connection from one stop to another.
						Connections are used to let a user move from one stop to another.
						Connections can be thought of as a directional edge in the tour
						graph. Bi-directional connections should be represented by
						repeating this element.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute ref="tourml:id" use="required" />
		<xsd:attribute ref="tourml:lastModified" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="TourMetadataType">
		<xsd:sequence>
			<xsd:element name="Title" type="tourml:TitleType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Description" type="tourml:DescriptionType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Author" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The author of the tour.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublishDate" type="xsd:date"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The publication date for the tour data.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PropertySet" type="tourml:PropertySetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RootStopRef" type="tourml:StopRefType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optionally specify the root stop for the tour.
						This is useful for tours that have a well-defined starting point.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AppResource" type="tourml:AssetRefType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>You can optionally specify application wide
						resources and their intended usage. This could be used for the
						application icon and splash image for example.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TourMLRefType">
		<xsd:annotation>
			<xsd:documentation>The TourMLRef type should provide a URI to an
				external TourML instance. This allows for the aggregation of many
				TourML tours together in one TourML instance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="tourml:uri" use="required" />
		<xsd:attribute ref="tourml:lastModified" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="AssetType">
		<xsd:sequence>
			<xsd:element name="AssetRights" type="tourml:AssetRightsType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="PropertySet" type="tourml:PropertySetType" 
				minOccurs="0" maxOccurs="1" />
			<xsd:choice>
				<xsd:element name="Source" type="tourml:AssetSourceType" 
					minOccurs="1" maxOccurs="unbounded" />
				<xsd:element name="Content" type="tourml:AssetContentType" 
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute ref="tourml:id" use="required" />
		<xsd:attribute ref="tourml:type" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="StopType">
		<xsd:sequence>
			<xsd:element name="Title" type="tourml:TitleType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Description" type="tourml:DescriptionType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="AssetRef" type="tourml:AssetRefType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An asset reference is used to refer to a
						specific usage of an asset. For example, an ImageAssetType can be
						referred to as the primary image to be viewed for an image stop of
						a tour.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PropertySet" type="tourml:PropertySetType" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute ref="tourml:id" use="required" />
		<xsd:attribute ref="tourml:view" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="ConnectionType">
		<xsd:attribute ref="tourml:srcId" use="required" />
		<xsd:attribute ref="tourml:destId" use="required" />
		<xsd:attribute ref="tourml:priority" use="optional" />
		<xsd:attribute ref="tourml:usage" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="AssetSourceType">
		<xsd:sequence>
			<xsd:element name="PropertySet" type="tourml:PropertySetType"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" />
		<xsd:attribute ref="tourml:uri" />
		<xsd:attribute ref="tourml:format" />
		<xsd:attribute ref="tourml:lastModified" use="optional" />
		<xsd:attribute ref="tourml:part" use="optional" />
	</xsd:complexType>
	
	<xsd:complexType name="AssetContentType">
		<xsd:sequence>
			<xsd:element name="Data" type="xsd:anyType" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="PropertySet"
				type="tourml:PropertySetType" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute ref="tourml:lastModified" use="optional" />
		<xsd:attribute ref="xml:lang" />
		<xsd:attribute ref="tourml:format" use="optional" />
		<xsd:attribute ref="tourml:part" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="AssetRightsType">
		<xsd:sequence>
			<xsd:element name="Copyright" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A display string for a copyright.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MachineRights" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditLine" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A simple credit line string.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Expiration" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Watermark" type="tourml:AssetRefType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specify a watermark asset to overlay this asset.
						It is up to individual TourML implementation to respect this
						setting.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StopRefType">
		<xsd:attribute ref="tourml:id" use="required" />
	</xsd:complexType>

	<xsd:complexType name="AssetRefType">
		<xsd:attribute ref="tourml:id" use="required" />
		<xsd:attribute ref="tourml:usage" />
	</xsd:complexType>

	<xsd:complexType name="TitleType">
		<xsd:annotation>
			<xsd:documentation>A type for providing localized titles.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="xml:lang" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>A type for providing localized descriptions.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="xml:lang" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="PropertySetType">
		<xsd:annotation>
			<xsd:documentation>Property sets allow for the addition of
				application specific metadata to Assets and Stops.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Property" type="tourml:PropertyType" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PropertyType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="xsd:anyType">
				<xsd:attribute ref="tourml:name" use="required" />
				<xsd:attribute ref="xml:lang" use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Attribute declarations -->
	<xsd:attribute name="id" type="xsd:string" />
	<xsd:attribute name="uri" type="xsd:anyURI" />
	<xsd:attribute name="lastModified" type="xsd:dateTime" />
	<xsd:attribute name="format" type="xsd:string" />
	<xsd:attribute name="view" type="xsd:string" />
	<xsd:attribute name="srcId" type="xsd:string" />
	<xsd:attribute name="destId" type="xsd:string" />
	<xsd:attribute name="priority" type="xsd:float" />
	<xsd:attribute name="usage" type="xsd:string" />
	<xsd:attribute name="name" type="xsd:string" />
	<xsd:attribute name="part" type="xsd:string" />
	<xsd:attribute name="type" type="xsd:string" />
	
</xsd:schema>
